@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Moret';
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/MoretSemibold/font.woff2') format('woff2'),
    url('~assets/fonts/MoretSemibold/font.woff') format('woff');
}

@font-face {
  font-family: 'Moret';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/MoretSemiboldOblique/font.woff2') format('woff2'),
    url('~assets/fonts/MoretSemiboldOblique/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalLightXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalLightXL/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalLightXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalLightXL/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalSemiboldXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalSemiboldXL/font.woff') format('woff');
}

.accordion summary {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url(~/assets/images/plus.svg);
  @apply text-lg;
  @apply flex;
  @apply justify-between;
  @apply cursor-pointer;
}

.accordion details {
  @apply mb-3;
  @apply border-b;
  @apply border-midGrey;
  @apply pb-2;
}

.accordion details[open] summary {
  background-image: url(~/assets/images/minus.svg);
}

.accordion details p:last-child {
  @apply mb-6;
}

.accordion details a,
.accordion details li,
.accordion details p {
  @apply text-midGreyOnNavy;
}

.accordion h2 {
  @apply text-[1.75rem];
  @apply mb-5;
  @apply mt-12;
}
