@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Moret';
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/MoretSemibold/font.woff2') format('woff2'),
    url('~assets/fonts/MoretSemibold/font.woff') format('woff');
}

@font-face {
  font-family: 'Moret';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/MoretSemiboldOblique/font.woff2') format('woff2'),
    url('~assets/fonts/MoretSemiboldOblique/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalLightXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalLightXL/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalLightXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalLightXL/font.woff') format('woff');
}

@font-face {
  font-family: 'SuisseInternational';
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/SuisseInternationalSemiboldXL/font.woff2')
      format('woff2'),
    url('~assets/fonts/SuisseInternationalSemiboldXL/font.woff') format('woff');
}

@layer components {
  .fill-white {
    @apply fill-[#ffffff];
  }

  .fill-navy {
    @apply fill-[#16183C];
  }

  .fill-reversedOnNavy {
    @apply fill-[#869AC7];
  }

  .stroke-white {
    @apply stroke-[#ffffff];
  }

  .stroke-navy {
    @apply stroke-[#16183C];
  }

  .flip-horizontal {
    transform: scale(-1, 1);
  }

  .flip-none {
    transform: scale(1);
  }

  .border-gradient {
    border-image: linear-gradient(to right, #4dffe5, #fda9ff, #c9b8ff) 1;
  }

  .wave-gradient {
    background-image: linear-gradient(
      90deg,
      rgba(253, 169, 255, 1) 0%,
      rgba(214, 154, 255, 1) 12%,
      rgba(188, 167, 255, 1) 33%,
      rgba(77, 255, 229, 1) 81%
    );
    background-size: 200% 100%;
  }
}

.accordion summary {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url(~/assets/images/plus.svg);
  @apply text-lg;
  @apply flex;
  @apply justify-between;
  @apply cursor-pointer;
}

.dark .accordion summary {
  background-image: url(~/assets/images/plus-white.svg);
}

.accordion details {
  @apply mb-3;
  @apply border-b;
  @apply border-midGrey;
  @apply pb-2;
}

.accordion details[open] summary {
  background-image: url(~/assets/images/minus.svg);
}

.dark .accordion details[open] summary {
  background-image: url(~/assets/images/minus-white.svg);
}

.accordion details p:last-child {
  @apply mb-6;
}

.accordion details a,
.accordion details li,
.accordion details p {
  @apply text-midGreyOnNavy;
}

.accordion h2 {
  @apply text-[1.75rem];
  @apply mb-5;
  @apply mt-12;
}
